---
title: Adult Stem Cells Therapy in Mexico | GIOSTAR Mexico
description: GIOSTAR Mexico is the leading stem cell clinic in Mexico. Adult stem cells therapy for diabetes, arthritis, lupus, ms, and more. Get an estimate 619-866-6000
layout: default
---

<section id="intro">
	<div class="row">
		<div class="small-12 medium-6 large-7 columns">
			<h1>Adult Stem Cell Transplant in Mexico</h1>
			<p>GIOSTAR’s Regenerative Medicine program is now closer to you. The solution that has helped to more than 4000 people in India has arrived to Mexico, offering autologous and allogeneic stem cell therapy for the treatment of a wide variety of diseases currently known as incurable.</p>
			<div class="cta">
				<a href="#contact" class="button large btn-cta">Find out if you are a <br><span>candidate</span></a>
			</div>
		</div>
	 	<div class="hide-for-small-only columns">
	 		<img src="{{root}}assets/img/people.png" alt="" class="object">
	 	</div>
	</div>
</section><!-- .intro -->

<section id="treatments">
	<div class="row">
		<div class="small-12 medium-12 columns">
			<h2 class="title text-center">Our Treatments</h2>
		</div>
		<div class="small-12 medium-6 columns">
			<div class="treatment lupus-border">
				<h3>Lupus</h3>
				<p>Stem cells can replace cells responsible for lupus with new healthy cells.</p>
				<a href="{{ root }}landing/lupus.html" class="more-info">More info</a>
			</div>
		</div>
		<div class="small-12 medium-6 columns">
			<div class="treatment diabetes-border">
				<h3>Diabetes</h3>
				<p>Stem cells have potential to serve as a source of insulin producing cells.</p>
				<a href="{{ root }}landing/diabetes.html" class="more-info">More info</a>
			</div>
		</div>
		<div class="small-12 medium-6 columns">
			<div class="treatment parkinson-border">
				<h3>Parkinson's disease</h3>
				<p>Stem cells help to replace the nerve cells lost by Parkinson’s with new healthy ones.</p>
				<a href="{{ root }}landing/parkinsons.html" class="more-info">More info</a>
			</div>
		</div>
		<div class="small-12 medium-6 columns">
			<div class="treatment multiplesclerosis-border">
				<h3>Multiple sclerosis</h3>
				<p>Stem cells can slow down and repair the damage caused to the nervous system.</p>
				<a href="{{ root }}landing/multiplesclerosis.html" class="more-info">More info</a>
			</div>
		</div>
		<div class="small-12 medium-6 columns">
			<div class="treatment arthritis-border">
				<h3>Arthritis</h3>
				<p>Stem cells have capacities to accelerate the healing of inflamed joints and damaged tissues.</p>
				<a href="{{ root }}landing/arthritis.html" class="more-info">More info</a>
			</div>
		</div>
	</div>
</section><!-- .treatments -->

<section id="about">
	<div class="row">
		<div class="small-12 medium-12 columns">
			<h2 class="title">About Giostar Mexico</h2>
		</div>
		<div class="small-12 medium-12 columns">
			<p>Since a decade ago, GIOSTAR has been performing stem cell transplants following the highest medical standards. Nowadays, GIOSTAR is the leading private organization specialized in the research and development of stem cell therapy, having treated almost 4000 patients.</p>
			<p>GIOSTAR is leading the most advanced research in the field of stem cell therapy to develop new treatments to improve health and wellness. GIOSTAR Mexico is the result of these efforts and is now available for people looking alternative solutions in Center and North America.</p>
		</div>
	</div>
</section><!-- .about -->
<section id="doctor">
	<div class="row">
		<div class="small-12 medium-12 columns">
			<h2 class="title">Dr. Anand Srivastava, M.S., PH.D. - Chairman, Cofounder and Chief Scientific Officer</h2>
		</div>
		<div class="small-12 medium-12 columns">
			<div class="row">	
				<div class="small-12 medium-6 small-order-2 medium-order-1 columns">
					<p>Dr. Anand Srivastava is the founder and leader of GIOSTAR. With more than 16 years on the research field, his success has its roots in his unique background of expertise in Stem cell biology, molecular biology, immunology, gene therapy, and clinical research. His articles have been published in peer-reviewed medical scientific journals and his work has been cited extensively by other scientists. Also, Dr. Anand Srivastava’s research work has been presented in various national and international scientific meetings and conferences in India, Japan, Germany, and USA.</p>
					<p>Thanks to his work, people now have an option to improve their life under Dr. Anand’s original and approved protocols. That’s the main goal of Dr. Anand Srivastava and GIOSTAR: to create a significant and positive impact on human race.</p>
				</div>
				<div class="small-12 medium-6 large-5 small-order-1 medium-order-2 columns">
					<div class="flex-video">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/2VZaOQMw0YQ?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- #doctor -->
<section id="testimonials">
	<div class="row">
		<div class="small-12 medium-12 columns">
			<h2 class="title">Testimonials</h2>
		</div>
		<div class="small-12 medium-12 columns">
			<div class="row">	
				<div class="small-12 medium-6 columns">
					<div class="flex-video">
						<iframe width="420" height="315" src="https://www.youtube.com/embed/Ap466klXsyo?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="small-12 medium-6 columns">
					<div class="flex-video">
						<iframe width="420" height="315" src="https://www.youtube.com/embed/7CzTNNpVpQk?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-4 columns">
					<div class="testimonial">
						<h3>Megha - <small>Osteoarthritis patient</small></h3>
						<p>“My legs are now working a bit and I can also move them a little, and I also started feeling my waist after the first session of the stem cell treatment.”</p>
						<p>“We have seen a tremendous change with this therapy and it’s something that we did not believe when we started.”</p>
					</div>
				</div>
				<div class="small-12 medium-4 columns">
					<div class="testimonial">
						<h3>Ranjit kaur - <small>Reumatoid arthritis patient</small></h3>
						<p>“I felt the improvement in my condition, as I felt a lot of dryness in my eyes earlier and saliva almost stopped forming in my mouth, but after this treatment the dryness of my eyes is gone and I can feel saliva forming in my mouth.”</p>
					</div>
				</div>
				<div class="small-12 medium-4 columns">
					<div class="testimonial">
						<h3>Narendra Prajapati - <small>Cerebral Palsy patient's father</small></h3>
						<p>“Now after a few months of administration of stem cell therapy I can say that my child got a new lease of life.”</p>
					</div>
				</div>
			</div><!-- .row -->
		</div>
	</div>
</section><!-- #testimonials -->
<section id="contact">
	<div class="row align-center">
		<div class="small-12 medium-8 columns">
			<h4><span>Contact us</span> and we'll assist you to begin your recovery process</h4>
			<form action="/contact_form.php" method="post" data-abide novalidate>
				<div data-abide-error class="alert callout" style="display: none;">
					<p><i class="fi-alert"></i> <b>There are some errors in your form.</b></p>
				</div>
				<div class="row">
					<div class="small-12 medium-6 columns">
						<label for="">Full name</label>
						<input type="text" name="elName" placeholder="John Doe" required>
						<span class="form-error">Full name is required</span>
					</div>
					<div class="small-12 medium-6 columns">
						<label for="">Email adress</label>
						<input type="email" name="elEmail" placeholder="myemail@example.com" required pattern="email">
						<span class="form-error">Email adress is required</span>
					</div>
					<div class="small-12 medium-6 columns">
						<label for="">Phone number</label>
						<input type="tel" name="elPhone" placeholder="928 000 0000">
					</div>
					<div class="small-12 medium-6 columns">
						<label for="">Where are you from?</label>
						<input type="text" name="elWhere" placeholder="Yuma, AZ" required>
						<span class="form-error">Field is required</span>
					</div>
					<div class="small-12 medium-12 columns">
					<label for="">Message</label>
						<textarea name="elMessage" cols="30" rows="5" placeholder="Your message" required></textarea>
						<span class="form-error">Message is required</span>
					</div>
					<fieldset class="small-12 columns">
						<button class="button large btn-green" type="submit" value="Submit">Submit</button>
					</fieldset>
					<input type="hidden" name="elAddress">
					<input type="hidden" name="elOrigin" value="Contact from GioStar">
					<input type="hidden" id="field_utm_homepage" name="field_utm_landing" value="">
				</div>
			</form>
		</div>
	</div>
</section><!-- #contact -->