// Buttons
//  -----------------------------

.button{
	box-shadow: 0 2px 5px 0 rgba($black,0.16),0 2px 10px 0 rgba($black,0.12);
	transition: all .3s ease-out;
	border-radius: 4px;
	&:hover{
		box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
	}
}

.btn-cta{
	background-color: $brand-green;
	padding: rem-calc(20) rem-calc(45);
	box-shadow: 0 2px 5px 0 rgba($black,0.16),0 2px 10px 0 rgba($black,0.12);
	margin-top: rem-calc(15);
	margin-bottom: rem-calc(32);
	border-radius: 8px;
	span{
		text-transform: uppercase;
		font-size: rem-calc(25);
		font-weight: normal; 
	}
	&:hover,
	&:active{
		background-color: scale-color($brand-green, -25%);
	} 
}

.btn-green{
	background-color: $brand-green;
	&:hover,
	&:active{
		background-color: scale-color($brand-green, -25%);
	}
}