//  Global
//  -----------------------------

section{
	padding-top: rem-calc(48);
	padding-bottom: rem-calc(32);
}

.title{
	text-transform: uppercase;
	font-size: rem-calc(24);
	margin-bottom: rem-calc(24); 
} 

.lupus-border{
	border-color: $lupus-border;
}

.diabetes-border{
	border-left-color: $diabetes-border;
}

.arthritis-border{
	border-left-color: $arthritis-border;
}

.parkinson-border{
	border-left-color: $parkinson-border;
}

.multiplesclerosis-border{
	border-left-color: $multiplesclerosis-border; 
}


// Screen Medium 
@media screen and #{breakpoint(medium)} {

	#{$inputs} {
		height: $input-height;
	}

	section{
		padding-top: rem-calc(72);
		padding-bottom: rem-calc(48); 
	}
	.title{
		font-size: rem-calc(40);
		margin-bottom: rem-calc(48);
	}

}