//  Variables
//  -----------------------------


// Colors
$brand-green:             #a1ca3e !default;
$brand-dark-green:        #6F8F3C !default;
$brand-blue:              #2C8790 !default;
$brand-dark-blue:         #073B4B !default;
$brand-orange:            #F05F25 !default;
$brand-dark-orange:       #BD4C27 !default;
$brand-gray:              #3b4754 !default;

$no-brand-purple:         #440e62 !default;
$no-brand-brown:          #544741 !default;

// Font
$body-font-family: 'Karla', sans-serif;
$header-font-family: "Dosis", sans-serif;

// Forms
$input-height: rem-calc(50);
$inputs: '[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea';


$lupus-border:                  $brand-dark-orange !default;
$diabetes-border:               $brand-blue !default;
$arthritis-border:              $brand-orange !default;
$parkinson-border:              $brand-gray !default;
$multiplesclerosis-border:      $brand-green !default;