//  Layout Default
//  -----------------------------

header{
// Header
	.top-bar{
		padding: 0;
		.menu{
			li > a{
				padding: 0; 
			}
		}
	}

	.phone-ico{
		width: rem-calc(22);
		display: inline-block;
		vertical-align: middle;
		margin-left: rem-calc(15);
		margin-right: rem-calc(5);
	}

	.top-bar-right{
		.menu{
			background-color: #FFF;
			padding: rem-calc(8);
		}
	}

	.menu{
		font-family: $header-font-family;
		text-transform: uppercase;
		font-size: rem-calc(15);
		.logo{
			max-width: rem-calc(200);
			max-height: rem-calc(66);
			margin: 0 auto;
		}
	}

}

// Footer
footer{
	background-color: $brand-gray;
	padding: 30px rem-calc(15);
	color: $white;
	text-align: center; 
	p{
		margin-bottom: 0; 
	}
}

// Screen Medium 
@media screen and #{breakpoint(medium)} {
	header{
		.top-bar,
		.menu{
			background-color: $white;
			.top-bar-left,
			.top-bar-right{
				padding-left: rem-calc(15);
				padding-right: rem-calc(15);
			}
		}
		.menu{
			.logo{
				margin: 0;
			}
		}
	}
}