<header>
  <div class="top-bar">
    <div class="top-bar-left">
    <div class="menu-centered">
      <ul class="menu">
        <li class="menu-text">
          <a href="/">
            <img class="logo" src="{{root}}assets/img/giostar-logo-horizontal.svg" alt="">
          </a>
        </li>
      </ul>
      </div>
    </div>
    <div class="top-bar-right">
      <ul class="menu align-right">
        <li>Begin your recovery now</li>
        <li>
          <img class="phone-ico" src="{{root}}assets/img/phone-ico.svg" alt=""> 
          <span class="google-number">619-866-6000</span>
        </li>
      </ul>
    </div>
  </div><!-- .top-bar -->
</header>