//  Homepage
//  -----------------------------


.homepage{
	
	// Intro
	#intro{
		background-color: $brand-gray;
		padding-top: rem-calc(50);
		padding-bottom: rem-calc(0);
		color: $white;
		position: relative;
		h1{
			position: relative;
			color: $white;
			font-family: $body-font-family;
			margin-bottom: rem-calc(52);
			font-size: rem-calc(30);
			line-height: rem-calc(30);  
			font-weight: bold; 
			&:before{
				content: "";
				height: 5px;
				width: 35%;
				position: absolute;
				bottom: -20px;
				background: $brand-blue;
			}
		}
		.cta{
			text-align: center;
			margin-top: rem-calc(20);
			margin-bottom: rem-calc(32);
		}
		.object{
			position: absolute;
			max-width: rem-calc(544);
			bottom: 0;
			right: 0;
		}
	}

	// Treatments
	.treatment{
		padding-left: 16px;
		border-left-width: 6px;
		border-left-style: solid;
		margin-bottom: rem-calc(50);
		h3{
			text-transform: uppercase;
			font-size: rem-calc(24) ;
			font-family: $body-font-family;
			font-weight: bold;
			margin-bottom: 0;
		}
		.more-info{
			color: $brand-blue;
			text-decoration: underline; 
		}
	}

	// About
	#about{
		background-color: #F5F5F5;
	}

	// Testimonials
	#testimonials{
		.flex-video{
			margin-bottom: rem-calc(24);
		}
		.testimonial{
			margin-top: rem-calc(20);
			margin-bottom: rem-calc(20);
			h3{
				font-size: rem-calc(21);
				text-transform: uppercase; 
				small{
					font-size: %75;
					color: $brand-green;
				}
			}
		}
	}

	// Contact
	#contact{
		margin: 0;
		padding-bottom: rem-calc(60);
		background-color: $brand-dark-blue;
		h4{
			font-size: rem-calc(24); 
			color: $white;
			font-family: $body-font-family;
			margin-bottom: rem-calc(18);
			line-height: rem-calc(26); 
			span{
				font-weight: bold; 
				color: $brand-green;
			}
		}
		form{
			label{
				color: $white;
				font-size: rem-calc(18);
				margin-bottom: rem-calc(6);
			}
			.callout{
				color: #ec5840;
				border-color: #ec5840;
				text-transform: uppercase;
			}
			.button{
				display: block;
				margin: rem-calc(12) auto;
				min-width: rem-calc(200);   
			}
		}
	}
}

// Screen Medium 
@media screen and #{breakpoint(medium)} {
	.homepage{
		#intro{
			.cta{
				text-align: left;
			}
			.object{
				width: rem-calc(480); 
			}
		}
		#testimonials{
			.testimonial{
				h3{
					font-size: rem-calc(24);
				}
			}
		}
		#contact{
			h4{
				margin-bottom: rem-calc(36);
				font-size: rem-calc(38);
				line-height: rem-calc(40);   
			}
		}
	}
}





