//  Landing
//  -----------------------------


// Local Variables
$arthritis-bg: $brand-blue;
$arthritis-form: darken($brand-blue, 15%);
$diabetes-bg: $brand-dark-blue;
$diabetes-form: darken($brand-dark-blue, 7.5%);
$multiplesclerosis-bg: $brand-blue;
$multiplesclerosis-form: darken($brand-blue, 15%);
$lupus-bg: $no-brand-purple;
$lupus-form: darken($no-brand-purple, 15%);
$parkinsons-bg: $no-brand-brown;
$parkinsons-form: $brand-blue;


.landing{
	
	// Intro
	#intro{

		// Arthritis
		&.arthritis-bg{
			background-color: $arthritis-bg;
			.form-container{
				background-color: $arthritis-form;
			}
		}
		// Diabetes
		&.diabetes-bg{
			background-color: $diabetes-bg;
			.form-container{
				background-color: $diabetes-form;
			}
		}
		// Multiplesclerosis
		&.multiplesclerosis-bg{
			background-color: $multiplesclerosis-bg;
			.form-container{
				background-color: $multiplesclerosis-form;
			}
		}
		// Lupus
		&.lupus-bg{
			background-color: $lupus-bg;
			.form-container{
				background-color: $lupus-form;
			}
		}
		// Parkinsons
		&.parkinsons-bg{
			background-color: $parkinsons-bg;
			.form-container{
				background-color: $parkinsons-form;
			}
		}


		position: relative;
		color: $white;
		h1{
			position: relative;
			color: $white;
			font-family: $body-font-family;
			margin-top: rem-calc(50);
			margin-bottom: rem-calc(52);
			font-size: rem-calc(30);
			line-height: rem-calc(30);  
			font-weight: bold; 
			&:before{
				content: "";
				height: 5px;
				width: 35%;
				position: absolute;
				bottom: -20px;
				background: $brand-blue;
			}
		}
		p{
			margin-bottom: rem-calc(24);
		}
		.form-container{
			padding-top: rem-calc(35);
			padding-bottom: rem-calc(35);
			h4{
				font-size: rem-calc(24); 
				color: $white;
				font-family: $body-font-family;
				margin-bottom: rem-calc(18);
				line-height: rem-calc(26); 
				span{
					font-weight: bold; 
					color: $brand-green;
				}
			}
			form{
				label{
					color: $white;
					font-size: rem-calc(18);
					margin-bottom: rem-calc(6);
				}
				.callout{
					color: #ec5840;
					border-color: #ec5840;
					text-transform: uppercase;
				}
				.button{
					display: block;
					margin: rem-calc(12) auto;
					min-width: rem-calc(200);   
				}
			}
		}
		img{
			margin-top: rem-calc(30);
			margin-bottom: rem-calc(-21);
		}
	}


	#looking{
		.block{
			margin-bottom: rem-calc(24);		
			h3{
				font-family: $body-font-family;
				font-weight: bold;
				font-size: rem-calc(17);
			}
		}
		.button{
			display: block;
			margin: auto;
		}
	}

	#reviews{
		background-color: #F5F5F5; 
		.review{
			background-color: $white; 
			border-radius: 4px;
			padding: rem-calc(15);
			text-align: center;
			margin-bottom: rem-calc(24);
			strong, h5{
				color: $brand-blue;
			}
		}
	}

	#faq{
		.question{
			margin-bottom: rem-calc(32); 
			h3{
				font-weight: bold; 
			}
		}
	}

	#cta{
		background-color: $brand-dark-blue;
		color: $white;
		padding-bottom: rem-calc(60);
		.button{
			display: block;
			margin: rem-calc(8) auto;
		}
	}

}


// Screen Medium 
@media screen and #{breakpoint(medium)} {
	#faq{
		.question{
			h3{
				font-size: rem-calc(24);
			}
		}
	}
}





