---
title: GIOSTAR MX | Adult Stem Cells Therapy for Parkinson’s Treatment
description: GIOSTAR Mexico is the leading stem cell clinic providing adult Stem Cells therapy for treatment and potential cure of Parkinson’s. Get an estimate 619-866-6000
layout: landing
---

<div id="intro" class="parkinsons-bg">
	<div class="row align-spaced">
		<div class="small-12 medium-5 large-5 columns">
			<h1>Parkinson’s will no longer have the control. You will.</h1>
			<p>Stem Cells can develop into any new cells, these can become into healthy dopamine-producing nerve cells, restoring the ability to control movement by replacing the lost nerve cells with healthy new ones.</p>
			<img src="{{ root }}assets/img/madam.png" alt="" id="img-deokis">
		</div>
		<div class="small-12 medium-7 large-5 columns form-container" id="contact">
			<h4><span>Contact us</span> and we'll assist you to begin your recovery process</h4>
			<form action="/contact_form.php" method="post" data-abide novalidate>
				<div data-abide-error class="alert callout" style="display: none;">
					<p><i class="fi-alert"></i> <b>There are some errors in your form.</b></p>
				</div>
				<div class="row">
					<div class="small-12 medium-6 columns">
						<label for="">Full name</label>
						<input type="text" name="elName" placeholder="John Doe" required>
						<span class="form-error">Full name is required</span>
					</div>
					<div class="small-12 medium-6 columns">
						<label for="">Email adress</label>
						<input type="email" name="elEmail" placeholder="myemail@example.com" required pattern="email">
						<span class="form-error">Email adress is required</span>
					</div>
					<div class="small-12 medium-6 columns">
						<label for="">Phone number</label>
						<input type="tel" name="elPhone" placeholder="928 000 0000">
					</div>
					<div class="small-12 medium-6 columns">
						<label for="">Where are you from?</label>
						<input type="text" name="elWhere" placeholder="Yuma, AZ" required>
						<span class="form-error">Field is required</span>
					</div>
					<div class="small-12 medium-12 columns">
					<label for="">Message</label>
						<textarea name="elMessage" cols="30" rows="5" placeholder="Your message" required></textarea>
						<span class="form-error">Message is required</span>
					</div>
					<fieldset class="small-12 columns">
						<button class="button large btn-green" type="submit" value="Submit">Submit</button>
					</fieldset>
					<input type="hidden" name="elAddress">
					<input type="hidden" name="elOrigin" value="Contact from GioStar Parkinson">
					<input type="hidden" id="field_utm_parkinson" name="field_utm_landing" value="">
				</div>
			</form>
		</div><!-- .form-container -->
	</div>
</div>

<section id="looking">
	<div class="row">
		<div class="small-12 columns">
			<h2 class="title text-center">We’ve Got What You Need</h2>
		</div>
		<div class="small-12 medium-6 columns block">
			<div class="row">
				<div class="small-3 medium-2 columns">
					<img src="{{ root }}assets/img/bio-ico.svg" alt="">
				</div>
				<div class="small-9 medium-10 columns">
					<h3>Non-embryonic Stem Cells</h3>
					<p>Adult stem cells are extracted from your own body and they have the ability to renew themselves, regenerating and healing tissue.</p>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 columns block">
			<div class="row">
				<div class="small-3 medium-2 columns">
					<img src="{{ root }}assets/img/airplane-ico.svg" alt="">
				</div>
				<div class="small-9 medium-10 columns">
					<h3>Travel assistance</h3>
					<p>We can help you set your trip, lodging, and everything you need.</p>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 columns block">
			<div class="row">
				<div class="small-3 medium-2 columns">
					<img src="{{ root }}assets/img/world-ico.svg" alt="">
				</div>
				<div class="small-9 medium-10 columns">
					<h3>Worldwide recognition</h3>
					<p>We are the world’s leading stem cell research company based in the US for over a decade.</p>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 columns block">
			<div class="row">
				<div class="small-3 medium-2 columns">
					<img src="{{ root }}assets/img/check-ico.svg" alt="">
				</div>
				<div class="small-9 medium-10 columns">
					<h3>Proven Results</h3>
					<p>More than 4,000 patients have been treated at our first established clinic.</p>
				</div>
			</div>
		</div>
		<a href="#contact" class="button btn-green show-for-small-only">BEGIN MY RECOVERY NOW</a>
	</div>
</section>


<section id="reviews">
	<div class="row">
		<div class="small-12 columns">
			<h2 class="title text-center">Reviews</h2>
		</div>
		<div class="small-12 medium-4 columns">
			<div class="review">
				<p>“We saw a big change in Pratyush and <strong>his condition has improved a lot</strong>. He has started responding when his name is called, and uttering many words and repeating words after us. All this after the first session.”</p>
				<h5>AUTISM PATIENT</h5>
			</div>
		</div>
		<div class="small-12 medium-4 columns">
			<div class="review">
				<p>“Now after a few months of administration of stem cell therapy, I can say that <strong>my child got a new lease of life</strong>. After two sessions of stem cell therapy, I can see almost 40 percent improvement in the condition of my son.”</p>
				<h5>CEREBRAL PALSY PATIENT</h5>
			</div>
		</div>
		<div class="small-12 medium-4 columns">
			<div class="review">
				<p>“After the first session, only I felt my condition improvement almost 50 percent. Earlier my legs used to get locked while walking, but now <strong>this problem is almost gone</strong>.”</p>
				<h5>ARTHRITIS PATIENT</h5>
			</div>
		</div>
	</div>
</section>


<section id="faq">
	<div class="row">
		<div class="small-12 columns">
			<h2 class="title text-center">Frequently Asked Questions</h2>
		</div>
		<div class="small-12 medium-4 columns">
			<div class="question">
				<h3>WHAT ARE STEM CELLS?</h3>
				<p> Stem cells are cells that can turn into any cell type inside the body as needed.  We are formed by stem cells, and once our body is developed, the remaining stem cells are stored so we can dispose of them when we have an internal or external injury. The stored stem cells don’t have genetic information yet (which means they can become any type of cell), that’s why they’re used when there’s something to repair in our body.</p>
			</div>
		</div>
		<div class="small-12 medium-4 columns">
			<div class="question">
				<h3>HOW DO STEM CELLS WORK?</h3>
				<p> When there is an injury in the body, the brain sends signals indicating that there’s something that must be repaired. That’s when stored stem cells attack what is causing the injury and begin to slowly repair the damage by becoming new healthy cells that will replace the ones affected.</p>
			</div>
		</div>
		<div class="small-12 medium-4 columns">
			<div class="question">
				<h3>HOW WILL STEM CELLS HELP ME WITH MY DISEASE?</h3>
				<p>Once you're treated with stem cell therapy, stem cells will transform into any cell type you need, repairing damaged tissue and replacing the cells that are causing your disease. By using stem cells therapy, it is possible to stop and reverse a wide variety of diseases, such as diabetes, arthritis, Alzheimer's, multiple sclerosis, and lupus.</p>
			</div>
		</div>
	</div>
</section>

<section id="cta">
	<div class="row align-center">
		<div class="small-12 columns">
			<h3 class="text-center">THERE'S NO REASON TO WAIT</h3>
		</div>
		<a href="#contact" class="button btn-green">BEGIN MY RECOVERY NOW</a>
	</div>
</section>

<script src="//www.google-analytics.com/cx/api.js?experiment=0IZoprQGQ8CTo3CKSI_Jhg"></script>