<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{#if title}}{{title}}{{else}}Foundation 6 Starter Template{{/if}}</title>
    <meta
      name="description" content="{{#if description}}{{description}}{{else}}Description goes here!{{/if}}">
    <link href="{{root}}assets/img/favicon.png" type="image/png" rel="icon">
    <link href="{{root}}assets/css/style.css" rel="stylesheet">
  </head>
  <body class="homepage" onload="_googWcmGet('google-number', '619-866-6000')">
    {{> header}}
    {{> body}}
    {{> footer}}
    <script src="{{root}}assets/js/main.js"></script>
    {{> google}}
  </body>
</html>